<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<link rel="stylesheet" href="/static/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/mdui/css/mdui.css">
    <link rel="stylesheet" href="../static/radialindicator.css">
    <script src="../static/jquery-3.2.0.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/mdui/js/mdui.js"></script>
    <script src="../static/radialIndicator.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=EFuQI5pXPFge8DGIflGWioivxS7KoeLI"></script>
    <title>{{title}}</title>

</head>

<body class="mdui-theme-primary-indigo mdui-drawer-body-left mdui-appbar-with-toolbar" style="background-color:rgb(245, 244, 249)">
    <header class="mdui-appbar mdui-appbar-fixed">
        <div class="mdui-toolbar mdui-color-theme">
            <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-drawer="{target: '#main-drawer'}"><i class=" mdui-icon material-icons ">&#xe5d2;</i></a>
            <a href="javascript:; " class="mdui-typo-headline ">NJUPT</a>
            <a href="/ " class="mdui-typo-title ">车联网服务系统</a>
            <div class="mdui-toolbar-spacer "></div>
            <a href="/ " class="mdui-btn ">首页</a>
            <a href="/console " class="mdui-btn ">后台</a>
            <a href="javascript:; " class="mdui-btn ">帮助</a>
            <a href="javascript:; " class="mdui-btn ">支持</a>
            <a href="javascript:; " class="mdui-btn ">关于</a>
        </div>
    </header>

    <div class="mdui-drawer " id="main-drawer">
        <div class="mdui-list " mdui-collapse="{accordion: true} " style="margin-bottom: 76px;">
            <div class="mdui-collapse-item mdui-collapse-item-open">
                <div class="mdui-collapse-item-header mdui-list-item mdui-ripple ">
                    <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue "></i>
                    <div class="mdui-list-item-content ">设备列表</div>
                    <i class="mdui-collapse-item-arrow mdui-icon material-icons "></i>
                </div>
                <div class="mdui-collapse-item-body mdui-list ">
                    <a href="###" class="mdui-list-item mdui-ripple ">设备1</a>
                    <a href="###" class="mdui-list-item mdui-ripple ">设备2</a>
                    <a href="###" class="mdui-list-item mdui-ripple ">设备3</a>
                    <a href="###" class="mdui-list-item mdui-ripple ">设备4</a>
                </div>
            </div>

            <div class="mdui-collapse-item ">
                <div class="mdui-collapse-item-header mdui-list-item mdui-ripple ">
                    <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-deep-orange "></i>
                    <div class="mdui-list-item-content ">用户列表</div>
                    <i class="mdui-collapse-item-arrow mdui-icon material-icons "></i>
                </div>
                <div class="mdui-collapse-item-body mdui-list ">
                    <a href="###" class="mdui-list-item mdui-ripple ">用户1</a>
                    <a href="###" class="mdui-list-item mdui-ripple ">用户2</a>
                    <a href="###" class="mdui-list-item mdui-ripple ">用户3</a>
                    <a href="###" class="mdui-list-item mdui-ripple ">用户4</a>
                </div>
            </div>

            <!--<div class="mdui-collapse-item ">
                <div class="mdui-collapse-item-header mdui-list-item mdui-ripple ">
                    <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-green "></i>
                    <div class="mdui-list-item-content ">组件</div>
                    <i class="mdui-collapse-item-arrow mdui-icon material-icons "></i>
                </div>
                <div class="mdui-collapse-item-body mdui-list " style="height: auto; ">
                    <a href="https://www.mdui.org/docs/ripple " class="mdui-list-item mdui-ripple ">涟漪动画效果</a>
                    <a href="https://www.mdui.org/docs/button " class="mdui-list-item mdui-ripple ">按钮</a>
                    <a href="https://www.mdui.org/docs/fab " class="mdui-list-item mdui-ripple ">浮动操作按钮</a>
                    <a href="https://www.mdui.org/docs/divider " class="mdui-list-item mdui-ripple ">分隔线</a>
                    <a href="https://www.mdui.org/docs/panel " class="mdui-list-item mdui-ripple ">可扩展面板</a>
                    <a href="https://www.mdui.org/docs/textfield " class="mdui-list-item mdui-ripple ">文本框</a>
                    <a href="https://www.mdui.org/docs/selection_control " class="mdui-list-item mdui-ripple ">选择控件</a>
                    <a href="https://www.mdui.org/docs/slider " class="mdui-list-item mdui-ripple ">滑块</a>
                    <a href="https://www.mdui.org/docs/list " class="mdui-list-item mdui-ripple ">列表</a>
                    <a href="https://www.mdui.org/docs/list_control " class="mdui-list-item mdui-ripple ">列表控制</a>
                    <a href="https://www.mdui.org/docs/grid_list " class="mdui-list-item mdui-ripple ">网格列表</a>
                    <a href="https://www.mdui.org/docs/tab " class="mdui-list-item mdui-ripple ">Tab 选项卡</a>
                    <a href="https://www.mdui.org/docs/toolbar " class="mdui-list-item mdui-ripple ">工具栏</a>
                    <a href="https://www.mdui.org/docs/appbar " class="mdui-list-item mdui-ripple ">应用栏</a>
                    <a href="https://www.mdui.org/docs/drawer " class="mdui-list-item mdui-ripple ">抽屉式导航</a>
                    <a href="https://www.mdui.org/docs/bottom_nav " class="mdui-list-item mdui-ripple ">底部导航栏</a>
                    <a href="https://www.mdui.org/docs/card " class="mdui-list-item mdui-ripple ">卡片</a>
                    <a href="https://www.mdui.org/docs/chip " class="mdui-list-item mdui-ripple ">纸片</a>
                    <a href="https://www.mdui.org/docs/tooltip " class="mdui-list-item mdui-ripple ">工具提示</a>
                    <a href="https://www.mdui.org/docs/snackbar " class="mdui-list-item mdui-ripple ">Snackbar</a>
                    <a href="https://www.mdui.org/docs/table " class="mdui-list-item mdui-ripple ">表格</a>
                    <a href="https://www.mdui.org/docs/dialog " class="mdui-list-item mdui-ripple ">对话框</a>
                    <a href="https://www.mdui.org/docs/menu " class="mdui-list-item mdui-ripple ">菜单</a>
                    <a href="https://www.mdui.org/docs/progress " class="mdui-list-item mdui-ripple ">进度指示器</a>
                </div>
            </div>-->

            <!--<div class="mdui-collapse-item ">
                <div class="mdui-collapse-item-header mdui-list-item mdui-ripple ">
                    <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-brown "></i>
                    <div class="mdui-list-item-content ">JavaScript 插件</div>
                    <i class="mdui-collapse-item-arrow mdui-icon material-icons "></i>
                </div>
                <div class="mdui-collapse-item-body mdui-list " style=" ">
                    <a href="https://www.mdui.org/docs/collapse " class="mdui-list-item mdui-ripple ">Collapse</a>
                    <a href="https://www.mdui.org/docs/headroom " class="mdui-list-item mdui-ripple mdui-list-item-active ">Headroom</a>
                </div>
            </div>

            <div class="mdui-collapse-item ">
                <div class="mdui-collapse-item-header mdui-list-item mdui-ripple ">
                    <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-purple "></i>
                    <div class="mdui-list-item-content ">资源</div>
                    <i class="mdui-collapse-item-arrow mdui-icon material-icons "></i>
                </div>
                <div class="mdui-collapse-item-body mdui-list ">
                    <a href="https://www.mdui.org/docs/material_icon " class="mdui-list-item mdui-ripple ">Material 图标</a>
                </div>
            </div>-->
        </div>
    </div>

    <!--<header class="console ">
        <div class="container ">

            <div class="row ">
                <div class="blank "></div>
            </div>
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="navbar navbar-default " role="navigation ">
                        <div class="navbar-header ">

                            <button class="navbar-toggle " type="button " data-toggle="collapse " data-target=".navbar-responsive-collapse ">
         <span class="sr-only ">Toggle Navigation</span>
         <span class="icon-bar "></span>
         <span class="icon-bar "></span>
         <span class="icon-bar "></span>
       </button>

                            <a href="./index.html " class="navbar-brand " style="font-size:25px;color:azure; ">车联网服务系统</a>
                        </div>
                        <div class="collapse navbar-collapse navbar-responsive-collapse ">
                            <ul class="nav navbar-nav navbar-right cl-effect-1 " style="font-size:18px; ">
                                <li><a href="./index.html " style="color:azure; ">首页</a></li>
                                <li><a href="./console.html " style="color:azure; ">后台</a></li>
                                <li><a href="## " style="color:azure; ">帮助</a></li>
                                <li><a href="## " style="color:azure; ">支持</a></li>
                                <li><a href="## " style="color:azure; ">关于</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>-->

    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center;margin-top:20px">
                <h2>设备状态</h2>
            </div>
        </div>
        <div class="row " style="margin-top:50px;">
            <div class="col-md-4 widget">
                <div class="spanel " style="display:inline-block;width:220px;height:250px;">
                    <!--<div style="width:220px;height:60px;background-color:rgb(43, 45, 54);">

                    </div>-->
                    <div id="indicatorContainer1"></div>
                    <div>
                        <p>当前温度</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 widget">
                <div class="spanel " style="display:inline-block;width:230px;height:250px;padding:5px">
                    <img id="led_img" alt="200x200" src="../static/img/Untitled.png" />
                </div>
            </div>

            <div class="col-md-4 widget">
                <div class="spanel " style="display:inline-block;width:230px;height:250px;">
                    <img id="online_img" alt="200x200" src="../static/img/Untitled4.png" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="text-align: center;margin-top:20px">
                <h2>设备位置</h2>
            </div>
        </div>

        <div class="row" style="margin-top:80px;">
            <div class="col-md-1 widget">
            </div>
            <div class="col-md-10 widget">
                <div id="allmap"></div>
            </div>
            <div class="col-md-1 widget">
            </div>
        </div>
    </div>





    <footer style=" background-color: #ddd;padding: 20px 0;margin-top: 80px ">
        <div class="container ">
            <p>This page is writed by song</p>
            <p>visit me:
                <a href="## " target="_blank ">Github</a> -
                <a href="## " target="_blank ">Youku</a>
            </p>
        </div>
    </footer>

    <script>
        var map = new BMap.Map("allmap");
        map.centerAndZoom(new BMap.Point(116.331398, 39.897445), 15);
        map.enableScrollWheelZoom(true);

        $('#indicatorContainer1').radialIndicator({
            barColor: '#87CEEB',
            barWidth: 10,
            initValue: 0,
            roundCorner: true,
            radius: 100
        });
        var radialObj = $('#indicatorContainer1').data('radialIndicator');
        radialObj.animate(20);

        // $('#indicatorContainer2').radialIndicator({
        //     barColor: '#87CEEB',
        //     barWidth: 10,
        //     initValue: 0,
        //     roundCorner: true,

        // });
        // var radialObj = $('#indicatorContainer2').data('radialIndicator');
        // radialObj.animate(20);

        var ws = new WebSocket('ws://127.0.0.1:3000/test');
        // 响应onmessage事件:
        ws.onmessage = function(msg) {
            try {
                $('div.spanel #online_img').attr('src', '../static/img/Untitled5.png');
                let value = JSON.parse(msg.data);
                // alert("you received: " + msg.data);

                radialObj.animate(parseInt(value.temperature));

                if (value.led === 'on') {
                    $('div.spanel #led_img').attr('src', '../static/img/Untitled.png');
                } else if (value.led === 'off') {
                    $('div.spanel #led_img').attr('src', '../static/img/Untitled1.png');
                }
                let new_point = new BMap.Point(value.lo / 10000, value.la / 10000);
                let marker = new BMap.Marker(new_point);
                map.centerAndZoom(new_point, 15);
                map.addOverlay(marker);

                // alert("经度： " + value.lo + "纬度： " + value.la);
                // let new_point = new BMap.Point(value.lo, value.la);
                // let marker = new BMap.Marker(new_point);
                // map.centerAndZoom(new_point, 15);
                // map.addOverlay(marker);
            } catch (e) {
                alert("error! : " + e + msg.data);
            }
        };
    </script>
</body>

</html>