<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<link rel="stylesheet" href="/static/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/mdui/css/mdui.css">
    <script src="../static/jquery-3.2.0.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/mdui/js/mdui.js"></script>
    <title>{{title}}</title>

</head>

<body>
    <header>
        <div class="container">

            <div class="row">
                <div class="blank"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar navbar-default " role="navigation">
                        <div class="navbar-header">

                            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
         <span class="sr-only">Toggle Navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>

                            <a href="/" class="navbar-brand" style="font-size:25px;">车联网服务系统</a>
                        </div>
                        <div class="collapse navbar-collapse navbar-responsive-collapse">
                            <ul class="nav navbar-nav navbar-right cl-effect-1" style="font-size:18px;">
                                <li><a href="/">首页</a></li>
                                <li><a href="/console">后台</a></li>
                                <li><a href="##">帮助</a></li>
                                <li><a href="##">支持</a></li>
                                <li><a href="##">关于</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="img">
        </div>
    </header>
    <div class="info">
        <div class="container" style="padding-bottom:80px">
            <div class="row">
                <div class="col-md-4">
                    <div class="mdui-card">
                        <div class="mdui-card-media">
                            <img src="../static/img/1b2425873b8505148b33dec9802b228f.jpg" />
                            <div class="mdui-card-media-covered">
                                <div class="mdui-card-primary">
                                    <div class="mdui-card-primary-title"></div>
                                    <div class="mdui-card-primary-subtitle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="mdui-card-actions">
                            <button class="mdui-btn mdui-ripple">了解详情</button>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mdui-card">
                        <div class="mdui-card-media">
                            <img src="../static/img/312cc6ce23a7c0097fa67acd06c3c911.jpg" />
                            <div class="mdui-card-media-covered">
                                <div class="mdui-card-primary">
                                    <div class="mdui-card-primary-title"></div>
                                    <div class="mdui-card-primary-subtitle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="mdui-card-actions">
                            <button class="mdui-btn mdui-ripple">了解详情</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mdui-card">
                        <div class="mdui-card-media">
                            <img src="../static/img/47e283d8ffb38de407b184ebdacfd851.jpg" />
                            <div class="mdui-card-media-covered">
                                <div class="mdui-card-primary">
                                    <div class="mdui-card-primary-title"></div>
                                    <div class="mdui-card-primary-subtitle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="mdui-card-actions">
                            <button class="mdui-btn mdui-ripple">了解详情</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="info">
        <div class="container" style="padding-bottom:80px">
            <div class="row">
                <div class="col-md-4">
                    <div class="mdui-card">
                        <div class="mdui-card-media">
                            <img src="../static/img/60b67ce8db879b0e83a72eddf9190be6.jpg" />
                            <div class="mdui-card-media-covered">
                                <div class="mdui-card-primary">
                                    <div class="mdui-card-primary-title"></div>
                                    <div class="mdui-card-primary-subtitle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="mdui-card-actions">
                            <button class="mdui-btn mdui-ripple">了解详情</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mdui-card">
                        <div class="mdui-card-media">
                            <img src="../static/img/89e6a881be421d67c17edbfc0379685d.jpg" />
                            <div class="mdui-card-media-covered">
                                <div class="mdui-card-primary">
                                    <div class="mdui-card-primary-title"></div>
                                    <div class="mdui-card-primary-subtitle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="mdui-card-actions">
                            <button class="mdui-btn mdui-ripple">了解详情</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mdui-card">
                        <div class="mdui-card-media">
                            <img src="../static/img/aae64ed0eade09f981e6423d040db874.jpg" />
                            <div class="mdui-card-media-covered">
                                <div class="mdui-card-primary">
                                    <div class="mdui-card-primary-title"></div>
                                    <div class="mdui-card-primary-subtitle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="mdui-card-actions">
                            <button class="mdui-btn mdui-ripple">了解详情</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer style="background-color: #ddd;padding: 20px 0;margin-top: 20px ">
        <div class="container">
            <p>This page is writed by song</p>
            <p>visit me:
                <a href="##" target="_blank">Github</a> -
                <a href="##" target="_blank">Youku</a>
            </p>
        </div>
    </footer>

</body>

</html>