{% extends "base.html" %}{% block main %}
<div class="container">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="panel panel-success" style="text-align: center">
                <div class="panel-heading" style="text-align: left">
                    <h3 class="panel-title">Sign In Success</h3>
                </div>
                <div class="panel-body">
                    <a href="/map" class="btn btn-success">Go To Console</a>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}